/* Home */
.appjs {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 33vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main {
  background-color: #282c34;

}

.homeNotLoggedin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.homeNotLoggedin button {
  width: 20%;
  margin-top: 5%;
  cursor: pointer;
}

/* Navbar */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav,
footer {
  background-color: rgb(0, 0, 130);
}

.link,
ul {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  text-decoration: none;
  list-style-type: none;
  /* background-color: black; */

}

.link:hover {
  text-decoration-line: underline;
  /* text-decoration-color: orange; */
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

/* login */
.loginInputField {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.loginInputField div {
  display: flex;
  flex-direction: column;

}

.logincomponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 5px;
  margin: 5px;
  width: 15vw;
}

.loginbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1%;
}

/*.logInGoogle*/
.loginbtn {
  display: flex;
  justify-content: space-between;
  margin: 1%;
}

.loginbtn button {
  margin: 4px;
  cursor: pointer;
}

.toSignUp {
  text-decoration: none;
  color: black;
  margin: 1px;
  padding: 1% 2%;
  border: 1px solid;
  background-color: rgb(221, 221, 221);
  border-color: grey;
  border-radius: 3px;
}

/* posts */
.userPosts {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  margin-top: 20px;
}

.user,
.posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  margin-bottom: 20px;
  background-color: #373b44;
}

.info,
.infoposts {
  flex-basis: 100%;
  border: 1px solid white;
  padding: 0% 2%;
  margin: 10px;
  max-width: 20vw;
  background-color: #282c34;
}

.infoposts {
  max-width: 30vw;
}

/* signup */
.signUp {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  min-height: 100vh;
  background-color: #282c34;
}

.signUpFormInputFields {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: 10px;
}

.signUpFormInputFields input {
  margin: 5px;
}

.signUpFormButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px 15px;
}

.signUpFormButton button {
  margin: 6px;
}

/* Form */
.formComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.formAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border: 1px solid white;
}

.formAll textarea {
  width: 10vw;
  height: 5vw;
}

.formAll input,
.formAll textarea,
.formAll button {
  margin: 3px;
  background-color: white;
  border-style: 2px solid grey;
  border-radius: 6px;
}

.formAll button:hover {
  cursor: pointer;
  background-color: rgb(175, 175, 175);
}

.formAll input::placeholder,
.formAll textarea::placeholder {
  color: black;
}

/* detail */
.detailPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.detailPage h1 {
  text-decoration: underline;
}

.detailinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  border: 1px solid white;
}

.detailinfo div {
  margin: 5px;
}

.detailPage button {
  min-width: 3vw;
  min-height: 3vh;
  border: 1px solid black;
  border-radius: 5px;
}

.detailPage button:hover {
  cursor: pointer;
  background-color: #b3b3b3;
}

/* about */
.About {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* footer */
footer {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* edit */
.edit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.editinvoer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editinvoer button {
  border: 1px solid black;
  border-radius: 10px;
}

.editinvoer button:hover {
  cursor: pointer;
  background-color: #b3b3b3;
}

.edit input {
  margin: 5px;
}

/* logout */
.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh;
}

.logoutField {
  background-color: #373b44;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding: 2%;
  border: 1px solid white;
  min-height: 5vw;
  min-width: 10vw;
  margin: 2vw
}

.logOutButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 10vw;
  margin-bottom: 0px;
  margin-top: 30px;
}

.logOutButtons button {
  min-height: 30px;
  min-width: 50px;
  border: none;
  text-decoration: none;
  text-align: center;
  /* background-color: #282c34; */
  border: 1px solid black;
  /* color: white; */
  border-radius: 5px;
}

.logOutButtons button:hover {
  cursor: pointer;
  background-color: #b8b8b8;
}

.logOutButtons .Nope {
  background-color: #0059e7;
}

.logOutButtons .Nope:hover {
  background-color: #0240a5;
}

.editPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.editPostInput{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.editPost textarea {
  width: 200px;
  height: 150px;
  margin: 5px;
}